@model Seguros.Models.GestionFalabella

@{
    ViewBag.Title = "Create";
}

<div id='ModalDiv' class='modal fade' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='ModalContent'></div>
        </div>
    </div>
</div>
<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GestionFalabella</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdGestion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdGestion)
            @Html.ValidationMessageFor(model => model.IdGestion)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAseguradora, "Aseguradora")
        </div>
        <div class="editor-field">
            @ViewBag.NombreAseguradora
            <input type="hidden" name="IdAseguradora" value="@ViewBag.IdAseguradora" />
            @*@Html.ValidationMessageFor(model => model.IdAseguradora)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAgente, "Agente")
        </div>
        <div class="editor-field">
            @ViewBag.NombreAgente
            <input type="hidden" name="IdAgente" value="@ViewBag.IdAgente" />
            @*@Html.ValidationMessageFor(model => model.IdAgente)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreCliente)
            @Html.ValidationMessageFor(model => model.NombreCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula)
            @Html.ValidationMessageFor(model => model.Cedula)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
