@model IEnumerable<Seguros.Models.GestionFalabella>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdGestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aseguradora.NombreAseguradora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agente.NombreAgente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdGestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aseguradora.NombreAseguradora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agente.NombreAgente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            <div>
                <!-- Single button -->
                <div class="btn-group pull-left">
                
                                <a href="@Url.Action("Edit", new { id = item.IdGestion })">
                                    <span class="fa fa-edit"></span>
                                    Editar
                                </a>
                           
                           
                                <a class="aModal" href="@Url.Action("ProductosPorCliente", new { IdGestion = item.IdGestion })">
                                    <span class="fa fa-cogs"></span>
                                    Ver Productos
                                </a>
                          

                    </div>
                </div>
        </td>
    </tr>
}

</table>
