@model Seguros.Models.Aseguradora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Aseguradora</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdAseguradora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdAseguradora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreAseguradora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreAseguradora)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contacto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contacto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
