@model Seguros.Models.Aseguradora

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Aseguradora</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdAseguradora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdAseguradora)
            @Html.ValidationMessageFor(model => model.IdAseguradora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreAseguradora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreAseguradora)
            @Html.ValidationMessageFor(model => model.NombreAseguradora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nit)
            @Html.ValidationMessageFor(model => model.Nit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contacto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contacto)
            @Html.ValidationMessageFor(model => model.Contacto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
